{% extends 'base.html' %}

{% block title %}{{ toy.toy_name }} - Details{% endblock %}

{% block body %}
<h1>{{toy.toy_name}}</h1>

<p>
    {{toy.category }}
</p>
<img src="/static/{{ toy.toy_image }}" width="300" height="350">
<div class="">

</div>
<p> available at:</p>

{% for price in toy.prices %}

        <p><b>Toy price:</b> {{price.price_dollars}}</p>
        <p><b>price effective date:</b>{{price.price_effective_date }}</p>
        <p><b>price end date:</b> {{price.price_end_date}}</p>
        <p><b>store name:</b> {{price.store.store_name}}</p>
        <p><b>store name:</b>{{price.store.store_website}}</p>
            <a href="http://www.{{price.store.store_website}}" target="_blank">{{price.store.store_website}}</a> 
        </p>
        <img src="/static/{{toy.toy_image}}" width="200" height="250" />
        
{% endfor %}


{% endblock %}
